#page_login {
    position: fixed;
}

#page_login > .background, #page_login > .container {
    position: absolute;
}

#page_login, #page_login > .background, #page_login > .container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#page_login > .background {
    background: var(--white);
    opacity: 0.9;
}

#page_login > .container {
    margin: var(--unit);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page_login > .container > * {
    margin: calc(var(--unit) / 2) 0;
}

#page_login h2 {
    color: var(--dark);
    font-size: calc(var(--unit) * 0.75);
    font-weight: normal;
}

#page_login h1 {
    font-size: calc(var(--unit) * 1.75);
    color: var(--accent);
}

#login_back {
    position: fixed;
    top: var(--unit);
    left: var(--unit);
}

#page_login.step1 > .container > #loginStep2 {
    display: none;
}

#page_login.step2 > .container > #loginStep1 {
    display: none;
}

#page_login > .container > p {
    font-size: calc(var(--unit) / 1.5);
    text-align: center;
}