#page_login {
    position: fixed;
}

#page_login > .background, #page_login > .container {
    position: absolute;
}

#page_login, #page_login > .background, #page_login > .container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#page_login > .background {
    background: var(--white);
    opacity: 0.9;
}

#page_login > .container {
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page_login > .container > * {
    margin: 0.5rem 0;
}

#page_login h2 {
    color: var(--dark);
    font-size: 0.75rem;
    font-weight: normal;
}

#page_login h1 {
    font-size: 1.75rem;
    color: var(--accent);
}

#login_back {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

#page_login.step1 > .container > #loginStep2 {
    display: none;
}

#page_login.step2 > .container > #loginStep1 {
    display: none;
}

#page_login > .container > p {
    font-size: 0.75rem;
    text-align: center;
}