/*
 * Variables
 */
:root {
    --unit: 5vmin;
    --transition: 250ms ease-out;

    --main: #4E8098;
    --dark: #04395E;
    --darker: #031D44;
    --accent: #D66540;
    --accentLight: #DAB785;
    --white: #ecf0f1;
}

/*
 * Default styling for elements
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;

    font-family: "Open Sans";

    transition: var(--transition);

    overscroll-behavior: none;
}

/*
 * Styling for root of the document
 */
html, body {
    height: 100%;
    width: 100%;
    background: var(--white);
}

/*
 * Slight adjustment for icons
 */
.material-icons {
    font-size: calc(var(--unit) * 1.5);
}