/*
 * Map Canvas
 */
#map {
    height: 100%;
    width: 100%;
}

/*
 * Main point on map
 */
#centerPoint {
    position: fixed;
    top: calc(50% - (var(--unit) * 0.75));
    left: calc(50% - (var(--unit) * 0.75));
    height: calc(var(--unit) * 1.5);
    width: calc(var(--unit) * 1.5);

    border-radius: 100%;
    border: calc(var(--unit) / 10) solid white;

    background: var(--mediumblue);
}

/*
 * Container for icons under the point
 */
#pointMenu {
    position: fixed;
    top: calc(50% + var(--unit));
    left: 50%;
    width: fit-content;
    transform: translate(-50%, 0);
    text-align: center;
}

/*
 * Styling for the actual icons
 */
#pointMenu > * {
    margin: calc(var(--unit) / 2);
    font-size: calc(var(--unit) * 2);
}

#report {
    color: var(--red);
}

#recenter {
    color: var(--grey);
}