/*
 * Map Canvas
 */
#map {
    height: 100%;
    width: 100%;

    transition: opacity var(--transition);
}

/*
 * Main point on map
 */
#centerPoint {
    position: fixed;
    top: calc(50% - 0.75rem);
    left: calc(50% - 0.75rem);
    height: 1.5rem;
    width: 1.5rem;

    border-radius: 100%;
    border: 0.1rem solid var(--white);

    background: var(--main);
}

/*
 * Center point overlay
 */
 #centerPointOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.75);
    
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    opacity: 0;

    transition: opacity var(--transition);
}
#centerPointOverlay[state="show"] {
    opacity: 1;
}
#centerPointOverlay > p {
    font-size: 1rem;
    color: var(--white);
    margin-top: 5rem;
}

/*
 * Container for icons under the point
 */
#pointMenu {
    position: fixed;
    top: calc(50% + 1rem);
    left: 50%;
    width: fit-content;
    transform: translate(-50%, 0);
    text-align: center;

    transition: var(--transition);
}

/*
 * Styling for the actual icons
 */
#pointMenu > * {
    margin: 0.5rem;
    font-size: 2rem;
}

#button_report {
    color: var(--accent);
}

#button_recenter {
    color: var(--main);
}

/*
 * Styling for the map key
 */
#key {
    position: fixed;
    top: 3rem;
    right: 1rem;

    display: flex;
    flex-direction: column;

    transition: opacity var(--transition);
}

#key > * {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#key > h5 {
    font-size: 0.65rem;
}

#key > * > div {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;

    margin: 0.3rem;
}

#key > * > p {
    font-size: 0.5rem;
    flex-grow: 1;
}