/*
 * Map Canvas
 */
#map {
    height: 100%;
    width: 100%;

    transition: opacity var(--transition);
}

/*
 * Main point on map
 */
#centerPoint {
    position: fixed;
    top: calc(50% - 0.75rem);
    left: calc(50% - 0.75rem);
    height: 1.5rem;
    width: 1.5rem;

    border-radius: 100%;
    border: 0.1rem solid var(--white);

    background: var(--main);
}

/*
 * Container for icons under the point
 */
#pointMenu {
    position: fixed;
    top: calc(50% + 1rem);
    left: 50%;
    width: fit-content;
    transform: translate(-50%, 0);
    text-align: center;

    transition: var(--transition);
}

/*
 * Styling for the actual icons
 */
#pointMenu > * {
    margin: 0.5rem;
    font-size: 2rem;
}

#button_report {
    color: var(--accent);
}

#button_recenter {
    color: var(--main);
}