#notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;

    background: var(--accent);

    display: grid;
    grid: 1fr / 2rem 1fr;

    align-items: center;

    transition: opacity var(--transition);
}

#notification_icon {
    justify-self: center;
    color: var(--white);
}

#notification_text {
    color: var(--white);
    font-size: 0.5rem;
    overflow: hidden;
}