.page {
    display: none;
}
.page.show {
    display: inline;
}

.page > h2 {
    color: var(--accent);
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.row > .text {
    color: var(--dark);
    font-weight: normal;
}