/*
 * Styling for the main div
 */
#pullUpMenu {
    position: fixed;
    top: calc(100% - (var(--unit) * 3));
    bottom: 0;
    width: 100%;
    
    overflow: hidden;
    
    border-radius: var(--unit) var(--unit) 0 0;
    box-shadow: 0 0 var(--unit);
    background: var(--white);
}

/*
 * The bit that peeks out, and is draggable
 */
#buttonTab {
    height: calc(var(--unit) * 3);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background: var(--white);
    color: var(--darker);
}

/*
 * The container containing everything in the menu
 */
#pullUpMenuContainer {
    height: calc(100% - (var(--unit) * 3));
    overflow-y: hidden;

    padding: 0 var(--unit) var(--unit);
}

/*
 * The line between the buttons and the page
 */
#pullUpMenu > hr {
    /* width: 90%; */
    margin: 1% 0;
    border: 2px solid var(--accentLight);
}