/* Map state */
body[state="map"] #map,
body[state="map"] #centerPoint {
    opacity: 1;
    pointer-events: all;
}

/* Menu state */
body[state="menu"] #map {
    opacity: 0.2;
    pointer-events: all;
}
body[state="menu"] #centerPoint,
body[state="menu"] #pointMenu,
body[state="menu"] #menu {
    opacity: 1;
    pointer-events: all;
}
body[state="menu"] #menu {
    height: 3rem;
}


/* Page state */
body[state="page"] #centerPoint,
body[state="page"] #pointMenu,
body[state="page"] #menu {
    opacity: 1;
    pointer-events: all;
}
body[state="page"] #map {
    opacity: 0.2;
    pointer-events: all;
}
body[state="page"] #menu {
    height: 70%;
}

/* Menu dragging and extended */
body[state="page"] #menu[state="dragging"] {
    transition: none;
}
body[state="page"] #menu[state="extended"] {
    height: 100%;
    border-radius: 0;
}

/* Report and report page */
#menu_container[state="report"] > #page_report,
#menu_container[state="account"] > #page_account,
#menu_container[state="settings"] > #page_settings {
    display: inline;
}

/* Login state */
body[state="login"] #page_login,
body[state="login"] #map {
    opacity: 1;
    pointer-events: all;
}

/* Notification and loader */
#notification[state="show"],
#loader[state="show"] {
    opacity: 1;
}

/* Search box */
#search_container[state="show"] {
    opacity: 1;
    pointer-events: all;
}