/*
 * Imports
 */
 /* Google fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Mapbox */
@import url("https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css");
/* Application */
@import "/css/inputs.css";
@import "/css/map.css";
@import "/css/page.css";
@import "/css/menu.css";
@import "/css/loader.css";
@import "/css/search.css";
@import "/css/notification.css";
@import "/css/login.css";
@import "/css/states.css";

/*
 * Variables
 */
:root {
    font-size: 5vmin;
    --transition: 250ms ease-out;

    --main: #4E8098;
    --dark: #04395E;
    --darker: #031D44;
    --accent: #D66540;
    --accentLight: #DAB785;
    --white: #ecf0f1;
    --grey: #bdc3c7;
}

/*
 * Default styling for elements
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;

    font-family: "Open Sans";

    transition: var(--transition);

    overscroll-behavior: none;
}

/*
 * Styling for root of the document
 */
html, body {
    height: 100%;
    width: 100%;
    background: var(--white);
}

/*
 * Slight adjustment for icons
 */
.material-icons {
    font-size: 1.5rem;
}

body > * {
    opacity: 0;
    pointer-events: none;
}